<div class="footer clearfix mb-0 text-muted">
    <div class="float-start">
        <p>2024 &copy; Voler</p>
    </div>
    <div class="float-end">
        <p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a
                href="https://github.com/mzrismuarf">Mizar</a></p>
    </div>
</div>

<script src="/static/assets/js/feather-icons/feather.min.js"></script>
<script src="/static/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/static/assets/js/app.js"></script>

<script src="/static/assets/vendors/chartjs/Chart.min.js"></script>
<script src="/static/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/static/assets/js/pages/dashboard.js"></script>

<script src="/static/assets/js/main.js"></script>
</body>

</html>