<!-- menu html -->

<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Book Inventory</h4>
        </div>
        <div class="card-body">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/books?auth={{$.auth}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addBooks?auth={{$.auth}}">Add Book</a>
                </li>
            </ul>
        </div>
    </div>
</section>